CONFIG_RD_GZIP=y
CONFIG_RD_BZIP2=n
CONFIG_RD_LZMA=n
CONFIG_RD_XZ=n
CONFIG_RD_LZO=n
CONFIG_RD_LZ4=n

CONFIG_INITRAMFS_COMPRESSION_NONE=n
CONFIG_INITRAMFS_COMPRESSION_GZIP=y
CONFIG_INITRAMFS_COMPRESSION_BZIP2=n
CONFIG_INITRAMFS_COMPRESSION_LZMA=n
CONFIG_INITRAMFS_COMPRESSION_XZ=n
CONFIG_INITRAMFS_COMPRESSION_LZO=n
CONFIG_INITRAMFS_COMPRESSION_LZ4=n

CONFIG_KEY_DH_OPERATIONS=y
CONFIG_CRYPTO_SHA512_ARM=m
CONFIG_CRYPTO_USER_API_HASH=m
CONFIG_PKCS8_PRIVATE_KEY_PARSER=m
