CONFIG_PING6=y
CONFIG_TRACEROUTE6=y
CONFIG_NC=y
CONFIG_PAM=y

CONFIG_FEATURE_NETSTAT_PRG=y
CONFIG_FEATURE_NETSTAT_WIDE=y

CONFIG_FEATURE_DF_FANCY=y

CONFIG_FEATURE_TOP_SMP_PROCESS=y
CONFIG_FEATURE_FAST_TOP=y
CONFIG_FEATURE_TOP_SMP_CPU=y
CONFIG_FEATURE_TOP_DECIMALS=y

CONFIG_RUN_PARTS=n
CONFIG_START_STOP_DAEMON=n
CONFIG_NUKE=n
CONFIG_RESUME=n
CONFIG_RUN_INIT=n
CONFIG_HALT=n
CONFIG_POWEROFF=n
CONFIG_REBOOT=n
CONFIG_INIT=n
CONFIG_INSMOD=n
CONFIG_LSMOD=n
CONFIG_MODPROBE=n
CONFIG_RMMOD=n
CONFIG_EJECT=n
CONFIG_FDFORMAT=n
CONFIG_LSPCI=n
CONFIG_MDEV=n
CONFIG_UEVENT=n
CONFIG_CROND=n
CONFIG_CRONTAB=n
CONFIG_DEVMEM=n
CONFIG_HDPARM=n
CONFIG_LSSCSI=n
CONFIG_MAKEDEVS=n
CONFIG_MT=n
CONFIG_RUNLEVEL=n
CONFIG_UBIRENAME=n
CONFIG_DNSD=n
CONFIG_DNSDOMAINNAME=n
CONFIG_IFCONFIG=n
CONFIG_IFUP=n
CONFIG_IFDOWN=n
CONFIG_INETD=n
CONFIG_NAMEIF=n
CONFIG_ROUTE=n
CONFIG_TC=n
CONFIG_TELNET=n
CONFIG_TFTP=y
CONFIG_UDHCPC=n
CONFIG_VCONFIG=n
CONFIG_WGET=y
CONFIG_SVC=n
CONFIG_SVOK=n
CONFIG_KLOGD=n
CONFIG_SYSLOGD=n

