CONFIG_FEATURE_NETSTAT_PRG=y
CONFIG_FEATURE_NETSTAT_WIDE=y

CONFIG_FEATURE_DF_FANCY=y
CONFIG_FEATURE_SKIP_ROOTFS=n

CONFIG_FEATURE_TOP_SMP_PROCESS=y
CONFIG_FEATURE_FAST_TOP=y
CONFIG_FEATURE_TOP_SMP_CPU=y
CONFIG_FEATURE_TOP_DECIMALS=y

CONFIG_FEATURE_PREFER_IPV4_ADDRESS=n

CONFIG_PING6=y
CONFIG_TRACEROUTE6=y
CONFIG_NC=y
CONFIG_PAM=y
CONFIG_TFTP=y
CONFIG_FEATURE_TFTP_PROGRESS_BAR=y
CONFIG_WGET=y

CONFIG_RUN_PARTS=n
CONFIG_START_STOP_DAEMON=n
CONFIG_NUKE=n
CONFIG_RESUME=n
CONFIG_RUN_INIT=n
CONFIG_HALT=n
CONFIG_POWEROFF=n
CONFIG_REBOOT=n
CONFIG_INIT=n
CONFIG_LINUXRC=n
CONFIG_GETTY=n
CONFIG_FSCK=n
CONFIG_INSMOD=n
CONFIG_LSMOD=n
CONFIG_MODPROBE=n
CONFIG_RMMOD=n
CONFIG_FDFORMAT=n
CONFIG_FDISK=n
CONFIG_MDEV=n
CONFIG_MKSWAP=n
CONFIG_MOUNT=n
CONFIG_SWAPON=n
CONFIG_SWAPOFF=n
CONFIG_SWITCH_ROOT=n
CONFIG_PIVOT_ROOT=n
CONFIG_UEVENT=n
CONFIG_UMOUNT=n
CONFIG_CROND=n
CONFIG_CRONTAB=n
CONFIG_LSSCSI=n
CONFIG_MAKEDEVS=n
CONFIG_MT=n
CONFIG_RUNLEVEL=n
CONFIG_UBIRENAME=n
CONFIG_WATCHDOG=n
CONFIG_DNSD=n
CONFIG_DNSDOMAINNAME=n
CONFIG_IFCONFIG=n
CONFIG_IFUP=n
CONFIG_IFDOWN=n
CONFIG_INETD=n
CONFIG_NAMEIF=n
CONFIG_TELNET=n
CONFIG_UDHCPC=n
CONFIG_VCONFIG=n
CONFIG_SVC=n
CONFIG_SVOK=n
CONFIG_KLOGD=n
CONFIG_SYSLOGD=n

