[Unit]
DefaultDependencies=no
Before=umount.target
Conflicts=umount.target
After=local-fs-pre.target
After=resize-storage.service
Wants=resize-storage.service

[Mount]
What=/dev/mmcblk0p2
Where=/home/tvheadend
Type=f2fs
Options=noatime
