[Unit]
Description=Tvheadend
Wants=network.target home-tvheadend.mount
After=network.target home-tvheadend.mount

[Service]
User=tvheadend

RemoveIPC=yes
PrivateTmp=yes
NoNewPrivileges=yes
RestrictSUIDSGID=yes
ProtectSystem=strict
ProtectHome=read-only
ReadWritePaths=/home/tvheadend

AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=/usr/bin/tvheadend --firstrun --satip_rtsp 0 --ipv6 --http_port 80

Restart=always
RestartSec=2

IOSchedulingClass=realtime
CPUSchedulingPolicy=rr

[Install]
WantedBy=multi-user.target
